*{
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    box-sizing: border-box;
}


header{ 
    height: 100px;
    padding: 25px;
    background-color: #006;
}
.section-logo{
    display: flex;
    gap: 15px;
    text-decoration: none;
    padding-left: 100px;
}

header img{
    height: 50px;
    width: 50px;
}

header h1{
    font-size: 40px;
    color: white;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.link{
    grid-column: 1/5;
    background-color: #222;
    display: grid;
    justify-content: center;
    align-items: center;
}

.text-area{
    height: 40px;
    width: 320px;
    padding: 10px;
    outline:none;
    font-size: 16px;
    border-radius: 4px;
}

.simulator-button{
    height: 40px;
    width: 80px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: orangered;
    border-radius: 4px;
    cursor: pointer;
}
